@import "compass"
@import "compass/reset"

body
  background-color: #000000

div
  &.container
    background-image: url('/images/wood_background.png')
    margin: 0px auto
    width: 960px
    height: 1000px
  &.top
    background-image: url('/images/paper_top.png')
    background-repeat: no-repeat
    background-position: center bottom
    text-align: center
    background-size: 100%
    margin: 0px auto
    width: 900px
    height: 100px
  &.bottom
    background-image: url('/images/paper_bottom.png')
    background-repeat: no-repeat
    background-position: center top
    background-size: 100%
    margin: 0px auto
    width: 900px
    height: 100px
  &.center
    margin: 0px auto
    width: 900px
  &.header
    margin: 0px 60px
    width: 900px
    height: 100px

span
  &.lbl
    margin: 0px 15px
    font-size: 25px
    width: 150px
    text-align: center
    display: inline
  &.data
    margin: 0px 100px
    font-size: 10px
    text-align: center
    display: inline

table.list
  background-image: url('/images/paper_middle.png')
  margin: 0px auto
  background-position: center center
  background-size: 100%